.contact__container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, rgba(250, 249, 246, 1) 32%, rgba(240, 248, 255, 1) 54%);
}
.contact__layout{
    display: flex;
    width: 88%;
    background: rgb(250,249,246);
    background: linear-gradient(90deg, rgba(250,249,246,1) 32%, rgba(240,248,255,1) 54%);
}
.contact__title{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact__title h1{
    margin-top: 2rem;
    position: relative;
}
.contact__title h1::before{
    content: "";
    height: 2px;
    width: 10vw;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 110%;
}
.contact__title h1::after{
    content: "";
    height: 2px;
    width: 10vw;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: 110%;
}
.contact__title p{
    margin-top: 2rem;
    padding: 0 4rem;
    line-height: 1.5;
    text-align: center;
}
.contact__form-container{
    width: 50%;
}
.contact__form-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}
.contact__form-div{
    position: relative;
    margin-top: 1rem;
    height: 2.5rem;
}
.contact__form-input{
    position: absolute;
    width: 100%;
    padding: 0.625rem 1.875rem;
    border-radius: 1.875rem;
    margin-bottom: 1.5rem;
    box-shadow: 10px 10px 5px #aaaaaa;
    border: .5px solid #aaaaaa;
}
.contact__form-area{
    height: 10.25rem;
    margin-bottom: 1.5rem;
}
.contact__btn{
    padding: .5rem 2rem;
    border-radius: 50px;
    font-size: 18px;
}
