.project__container{
    height: 190vh;
    width: 90%;
    display: flex;
    justify-content: center;
}
.project__layout{
    border: .5px solid #aaaaaa;
    width: 95%;
    height: 94%;
    border-radius: 10px;
    padding: 2rem 3.5rem;
    margin-top: 5rem;
    background-color: #FAF9F6;
    box-shadow: 10px 10px 5px #aaaaaa;;
}
.project__title{
    margin: 3rem 0 0 3rem;
    position: relative;
}
.project__title h1::before{
    content: "";
    height: 2px;
    width: 20vw;
    background-color: #000;
    position: absolute;
    top: 29%;
    left: 14%;
}
.project__title p{
    margin-top: 10px;
    font-size: 18px;
}

.project__grid-container{
    width: 100%;
    display: flex;
    margin-top: 4rem;
}
.project__img-container{
    width: 70%;
    display: flex;
    justify-content: center;
}
.project__img{
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.project__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.project__info p{
    line-height: 1.5;
    padding: 0 1rem;
}
.project__info-skills{
    display: flex;
}
.project__info h2{
    margin-bottom: 1rem;
}
.project__info-btn{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}