.project__container{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
}
.project__layout{
    border: 1px solid black;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 5rem;
}
.project__title{
    margin: 3rem 0 0 3rem;
}

.project__grid-container{
    width: 100%;
    display: flex;
    margin-top: 3.5rem;
}
.project__img-container{
    width: 50%;
    display: flex;
    justify-content: center;
}
.project__img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.project__info{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.project__info h2{
    margin-bottom: 1rem;
}
.project__info-btn{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}