.home__container{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF9F6;
}

.home__intro{
    max-width: 540px;
    text-align: center;
    margin-top: 3rem;
}
.img__container{
    max-width: 100%;
}

@keyframes blob {
    0%, 100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
}

.home__img{
    width: 250px;
    height: 250px;
    vertical-align: middle;
    margin-bottom: 1.5rem;
    object-fit: cover;
    animation: blob 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background-position: center center;
}
.home__name{
    font-size: 30px;
    margin-bottom: .3rem;
}
.home__job-title{
    font-size: 22px;
    margin-bottom: 1.1rem;
}
.home__social{
    display: flex;
    justify-content: center;
    column-gap: 1.6rem;
    margin-bottom: 1.3rem;
}
.home__social-links{
    font-size: 22px;
    transition: .3s;
}
.home__social-links:hover{
    color: hsl(240, 50%, 50%);;
}
.btn{
    border: 1px solid rgb(0, 0, 0.5);
    border-radius: 30px;
    padding: .4rem 1.1rem;
    background-color: hsl(240, 50%, 50%);
    color: #FAF9F6;
}
.skill__container{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.skill__container p{
    font-size: 22px;
}
.skill__container i{
    font-size: 22px;
}

