.about__container{
    height: 125vh;
    width: 100%;
    display: flex;
    column-gap: 2rem;
    background-color: #f0f8ff;
}
.about__info{
    height: 85vh;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.about__info-layout{
    box-shadow: 10px 10px 5px #aaaaaa;
    text-align: center;
    padding: 1rem;
    height: 33rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAF9F6;
    border: .5px solid #aaaaaa;
}
.about__image-container{
    width: 100%;
    height: 150px;
    margin-bottom: 2rem;
}
.about__image{
    width: 150px;
    height: 100%;
    object-fit: cover;
}
.about__info-job-title{
    margin-bottom: 15px;
    font-size: 10px;
    border: 1px solid black;
    padding: .3rem .5rem;
    border-radius: 10px;
}
.about__sub-container{
    border: 1px solid black;
    padding: .7rem;
    margin-bottom: 15px;
    border-radius: 10px;
}
.about__sub-container hr{
    margin-bottom: 10px;
}
.mini__sub-container{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.mini__title-detail{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 9px;
    row-gap: 5px;
}
.mini__title-detail p{
    font-size: 12px;
}
.mini__title-detail h3{
    font-size: 15px;
    font-weight: 100;
}

.about__details-container{
    width: 65%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about__details{
    box-shadow: 10px 10px 5px #aaaaaa;
    width: 100%;
    height: 110vh;
    margin-top: 15.1rem;
    border-radius: 10px;
    padding: 3rem 3.5rem;
    background-color: #FAF9F6;
    border: .5px solid #aaaaaa;
}

.about__details h1{
    margin-bottom: 1rem;
    font-size: 35px;
    position: relative;
}
.about__details h1::before{
    content: "";
    height: 2px;
    width: 20vw;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 16%;
}
.about__details p{
    line-height: 1.5;
    margin-bottom: 1.5rem;
    padding: 0 2rem;
}
.sub__title h2{
    font-size: 25px;
}
.about__display-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.display-box{
    width: 340px;
    height: 240px;
    padding: 15px;
    border: 1px solid #000;
    margin: 15px;
    border-radius: 10px;
}
.display__icon-title{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.display-box p{
    padding: .5rem;
}

@media screen and (min-width: 576px) and (max-width: 1022px) {
    .about__container{
        display: block;
        height: 200vh;
    }
    .about__info{
        margin-left: 0;
    }
    .about__info-layout{
        width: 60%;
        height: 34rem;
    }
    .about__details-container{
        width: 100%;
    }
    .about__details{
        width: 80%;
        margin-left: 2.3rem;
        margin-top: 2rem;
        padding: 3rem 2rem;
        height: auto;
    }
    .about__image{
        object-fit: cover;
        animation: blob 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
        background-position: center center;
    }
    @keyframes blob {
        0%, 100%{
            border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
        }
        50%{
            border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
        }
    }
    .about__image-container h3{
        font-size: 20.72px;
    }
    .about__info-job-title h3{
        font-size: 15px;
    }
    .about__sub-container{
        width: 90%;
    }
}