.sidebar__container{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 4rem;
    height: 85vh;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.nav{
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0.5);
    border-radius: 10px;
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}

.nav__link{
    border: 1px solid rgb(0, 0, 0.5);
    border-radius: 10px;
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


